<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.unico.check"
        version="0.8.0">

  <name>Unico Check</name>

  <asset src="www/check.js" target="js/check.js"/>

  <js-module src="www/check.js" name="check">
    <clobbers target="check" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="UnicoCheckModule">
        <param name="android-package" value="com.unico.plugin.UnicoCheckModule"/>
      </feature>
    </config-file>

	<framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    <source-file src="src/android/UnicoCheckModule.java" target-dir="src/com/unico/plugin/" />
	<source-file src="src/android/UnicoConfigDefault.java" target-dir="src/com/unico/plugin/" />
	<source-file src="src/android/UnicoTheme.java" target-dir="src/com/unico/plugin/" />
  </platform>
<!--
  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="Hello">
        <param name="ios-package" value="HWPHello" />
      </feature>
    </config-file>

    <header-file src="src/ios/HWPHello.h" target-dir="HelloPlugin"/>
    <source-file src="src/ios/HWPHello.m" target-dir="HelloPlugin"/>
  </platform>

  <platform name="wp7">
    <source-file src="src/wp7/Hello.cs"/>
  </platform>
-->
</plugin>