<?xml version="1.0" encoding="utf-8"?>

<plugin id="cordova-plugin-unico" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

  <name>Unico Check Module</name>

	<js-module src="www/check.js" name="UnicoCheckModule">
		<clobbers target="UnicoCheckModule" />
	</js-module>

  <platform name="android">

	<config-file target="res/xml/config.xml" parent="/*">
      <feature name="UnicoCheckModule">
        <param name="android-package" value="com.unico.UnicoCheckModule"/>
      </feature>
    </config-file>

	<framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    <source-file src="src/android/UnicoCheckModule.java" target-dir="src/com/unico/" />
	<source-file src="src/android/UnicoConfigDefault.java" target-dir="src/com/unico/" />
	<source-file src="src/android/UnicoTheme.java" target-dir="src/com/unico/" />
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/*">
      <feature name="UnicoCheckModule">
        <param name="ios-package" value="UnicoCheckModule" />
      </feature>
    </config-file>

    <header-file src="src/ios/UnicoCheckModule.h" />
    <source-file src="src/ios/UnicoCheckModule.m" />
	<header-file src="src/ios/UnicoCheckViewController.h" />
    <source-file src="src/ios/UnicoCheckViewController.m" />
	<header-file src="src/ios/UnicoConfig.h" />
    <source-file src="src/ios/UnicoConfig.m" />
	<header-file src="src/ios/UnicoTheme.h" />
	<source-file src="src/ios/UnicoTheme.m" />
	
	<podspec>
		<config>
			<source url="https://cdn.cocoapods.org/"/>
		</config>
		<pods use-frameworks="true">
			<pod name="unicocheck-ios" spec="2.4.0"/>
		</pods>
	</podspec>
  </platform>

</plugin>